*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build/
app/release
.ignored/
/debug/
!fe.build
/androidx-compose-material3-pullrefresh/.gradle/
/androidx-compose-material3-pullrefresh/.run/
/androidx-compose-material3-pullrefresh/build/
/androidx-compose-material3-pullrefresh/library/build/
/androidx-compose-material3-pullrefresh/library/.gradle/
*.sh
