<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="me.omico.lux.compose.material3.pullrefresh.test.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
