<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"
                     tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission
            android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API"/>
    <uses-permission android:name="moe.shizuku.manager.permission.Manager"/>

    <application
            android:name=".LinkSheetApp"
            android:allowBackup="true"
            android:enableOnBackInvokedCallback="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:localeConfig="@xml/locales_config"
            android:logo="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="tiramisu">
        <profileable
                android:shell="true"/>

        <activity
                android:name=".activity.onboarding.OnboardingActivity"
                android:exported="true"
                android:theme="@style/AppTheme"/>

        <provider
                android:name="rikka.shizuku.ShizukuProvider"
                android:authorities="${applicationId}.shizuku"
                android:enabled="true"
                android:exported="true"
                android:multiprocess="false"
                android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"/>

        <activity
                android:name=".activity.main.MainActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="experiment"
                        android:scheme="linksheet"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.CrashHandlerActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".activity.TextEditorActivity"
                android:excludeFromRecents="true"
                android:exported="false"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".activity.SelectDomainsConfirmationActivity"
                android:excludeFromRecents="true"
                android:exported="false"
                android:screenOrientation="unspecified"
                android:theme="@style/DialogTheme"/>

        <!-- Intent handling -->
        <activity
                android:name=".activity.BottomSheetActivity"
                android:excludeFromRecents="true"
                android:exported="true"
                android:launchMode="singleInstance"
                android:theme="@style/DialogTheme"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity-alias
                android:name=".intent.send"
                android:exported="true"
                android:targetActivity=".activity.BottomSheetActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".intent.view"
                android:exported="true"
                android:targetActivity=".activity.BottomSheetActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_BROWSER"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".intent.view.mime"
                android:exported="true"
                android:targetActivity=".activity.BottomSheetActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_BROWSER"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".intent.nfc"
                android:exported="true"
                android:targetActivity=".activity.BottomSheetActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:enabled="false"
                android:name=".intent.search"
                android:exported="true"
                android:targetActivity=".activity.BottomSheetActivity">
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".action.contextmenu"
                android:exported="true"
                android:label="@string/open_with_linksheet"
                android:targetActivity=".activity.BottomSheetActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity-alias>

        <service android:name=".customtab.LinkSheetCustomTabsService"
                 android:exported="true"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.support.customtabs.action.CustomTabsService"/>
            </intent-filter>
        </service>
        <service android:name=".InterconnectService"
                 android:enabled="true"
                 android:exported="true"
                 android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                      android:value="Binder Transactions"/>
        </service>
        <service android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
                 android:enabled="false"
                 android:exported="false">
            <meta-data android:name="autoStoreLocales"
                       android:value="true"/>
        </service>
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <meta-data
                    android:name="androidx.work.WorkManagerInitializer"
                    android:value="androidx.startup"
                    tools:node="remove" />
        </provider>
    </application>
</manifest>
