<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="fe.linksheet.debug.DebugBroadcastReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="fe.linksheet.debug.COPY_URL" />
                <action android:name="fe.linksheet.debug.RESOLVE_URL" />
                <action android:name="fe.linksheet.debug.UPDATE_PREF" />
                <action android:name="fe.linksheet.debug.NAVIGATE" />
                <action android:name="fe.linksheet.debug.RESET_HISTORY_PREFERRED_APP_BROADCAST" />
                <action android:name="fe.linksheet.debug.DUMP_PREFERENCES_BROADCAST" />
                <action android:name="fe.linksheet.debug.VIEW_URL_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
