<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
                android:name=".debug.activity.ComposableRendererActivity"
                android:exported="false"
                android:label="@string/title_activity_composable_renderer"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".debug.activity.DebugActivity"
                android:exported="true"
                android:theme="@style/AppTheme"/>
        <activity
                android:name=".debug.activity.LinkTestingActivity"
                android:exported="true"
                android:theme="@style/AppTheme"/>

        <activity
                android:name=".debug.activity.ExportLogDialogTestActivity"
                android:exported="true"
                android:theme="@style/AppTheme"/>


        <!--        <activity android:name=".experiment.improved.resolver.activity.bottomsheet.ImprovedBottomSheetActivity"-->
<!--                  android:exported="true"-->
<!--                  android:theme="@style/DialogTheme">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.APP_BROWSER" />-->

<!--                <data android:scheme="https" />-->
<!--                <data android:scheme="http" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <receiver
                android:name=".debug.DebugBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="fe.linksheet.debug.COPY_URL"/>
                <action android:name="fe.linksheet.debug.RESOLVE_URL"/>
                <action android:name="fe.linksheet.debug.UPDATE_PREF"/>
                <action android:name="fe.linksheet.debug.NAVIGATE"/>
                <action android:name="fe.linksheet.debug.RESET_HISTORY_PREFERRED_APP"/>
                <action android:name="fe.linksheet.debug.DUMP_PREFERENCES"/>
                <action android:name="fe.linksheet.debug.VIEW_URL"/>
                <action android:name="fe.linksheet.debug.DUMP_NAV_GRAPH"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
