<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API"/>
    <uses-permission android:name="moe.shizuku.manager.permission.Manager"/>

    <application>
        <provider
                android:name="rikka.shizuku.ShizukuProvider"
                android:authorities="${applicationId}.shizuku"
                android:enabled="true"
                android:exported="true"
                android:multiprocess="false"
                android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    </application>
</manifest>
